.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px; 
  background-color: blue;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; 
  height: 100px; 
}
